
  
  
  img {height:80px;}
  
  .div_logo{text-align:right; }
  .div_slogan{text-align:left; font-size: 2em;
              display: flex;
              flex-direction: column;
              justify-content:flex-end;
              

              
              }


  .slogan_color{color: green;}
  i {color:green}

  #row_subtitle {margin-top: 1%;}
  #subtitle {color:grey; }
